/*********
Basic Setup
**********/

/********
    color-reddish:#FC4539;
    color-black:#000000;
    color-lightred:#F55B60;
    color-dull grey:#DCDCDC;

  *******/
*{
    margin:0;
    padding:0;
    
}
body{
    box-sizing: border-box;
}
li{
    list-style: none;
}

a{
    Text-decoration:none;
}

.container{
    max-width: 1400px;   
    margin:auto;
}

/************
 Header section
 ************/
.mainhdr{
   width:100%;
   overflow: hidden;
}
/* full column for header section */
.hdrsec {
    height:600px ;
    background: #000;
    background-image: linear-gradient(270deg, rgba(231, 19, 19, 0.9),rgba(19, 8, 8, 0.9) 50%),url("./images/hdrimg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;         
    width: 100%;
}

.hdrsec .logo img{
    width:150px; 
    margin-left: 50px;
    margin-top: 50px;
}

/* Heading text */
.hdrsec .hdrtxt h1{
    font-size: 60px;
    margin: 50px 50px;
    color:#DCDCDC;
    font-weight: 300;
    letter-spacing: 2px;
}

/* Distinguish h1 to show different color */
.hdrsec .hdrtxt h1 span{
    color:#FC4539;
}

/* Header button */
.hdrbtn{
    background: #FC4539;
    margin: 10px 50px;
    padding:10px;
    width:250px;
    height: 70px;
    color: #DCDCDC;
    font-size: 30px;
    border-radius: 50px;
}

/************
 Service section
 ************/
.services{
    height: 600px;
    border:1px solid transparent;
    background: #F8F8F8;
}

/* Service main container */
.serv-sec{
    
        height:500px
}

.serv-head{
    
    margin-top: 50px;
}

.serv-head h2{
    text-align: center;
    margin-top: 30px;
    font-size:28px;
    font-family: 'Roboto', sans-serif; 
    line-height: 31px;
    margin-bottom: 15px;  
    
}

.serv-head .line{
    width:100px;
    background: #FC4539;
    height: 4px;
    margin-top: 10px;
    margin-bottom: 10px;    
    margin: auto;
}



.serv-head p{
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    word-spacing: 2px;
    font-family: Roboto, sans-serif;
}
.col3-serv{
    
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.col3-serv .col{
    background: #fff;
    height:280px;
    margin-top: 80px;
   

}
.col3-serv .col .col-info{
    
    height:50px;
    width:400px;
    margin-top:15px ;
}
.col3-serv .col .col-info h3{
font-weight: 700px;
border-top-right-radius:50px; 
text-align: center;
font-family: 'Roboto', sans-serif;
}
.col3-serv .col .col-info p{
    font-weight: 500;
    color:grey;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.col3-serv .col img{
       width:400px;
       height: 200px;     
}

/************
 Facility section
 ************/
 .facility{
     width:100%;
     height:600px;
     background-image: url("./images/facilityimg.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;  
     
     
 }
 .one-sec{
    border:1px solid transparent;
    height:500px;
    width:100%;
}
.col-txt{
   
    margin-top: 80px;
    
    
}

.col-txt h3{
    color:white;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
}

.col-txt p{
    color:white;
    margin:auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    
}

.col-txt .color-btn{
    border-radius: 100px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 40px;
    background: #FC4539;
    font-family: Roboto, sans-serif;
    color:white;   
    
}

/************
 About section
 ************/
.about{
 
    background:black;
}
.col4sec{
   
    border:1px solid transparent;
    
}
/* .main-head{
    margin-top: 20px;
} */

.main-head h2{
    text-align: center;
    font-family: Roboto, sans-serif;
    color:white;
    margin-top: 20px;
    font-size: 28px;
    padding-bottom:20px;
}

.main-head .line{
    width:100px;
    background: #FC4539;
    height: 4px;
    margin-top: 20px;
    margin-bottom: 10px;    
    margin: auto;
}


.main-head p{
    text-align: center;
    font-family: Roboto, sans-serif;
    color:white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}   

.col4-sec{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
}


/* .col .col-info{
    bottom: 40px;
    color: #ffffff;
    left: 0;
    position: absolute;
    text-align: left;
} */


.col4-sec .col h3{
background: #FC4539;
border:50px; 
text-align: left;
font-family: 'Roboto', sans-serif;
width:160px;
font-size: 30px;
display: inline-block;

}
.col4-sec .col  p{
    font-weight: 500;
    color:white;    
    text-align: left;
    font-family: Roboto, sans-serif;
    background: #000;
    width:100px;
    margin-bottom: 50px;
   

}
.col4-sec .col img{
       width:300px;
       height: 300px;     
       
}

/************
 Contact section
 ************/
.contact{
  
  height:400px;  
   
}
.content{
    
    width:100%;
    height: auto;
    position: relative;
   
    
}
.content::after{
    content: '';
    background-color:  #FC4539;
    width:100%;
    height:350px;
    position: absolute;
    top:0vh;
    opacity: .7;
    
}
.content img{
    width:100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
     
}
.head-text{
    color:white;
     
} 
.head-text h1{
    position: absolute;
    left:12%;
    top:20%;
    z-index: 999;
    
}
.head-text p{
    position: absolute;
    left:10%;
    top:40%;
    z-index: 999;
    width: 800px;
    font-size:20px;

}
.brdr-btn{
    border: 4px solid #fb5b21;
    border-radius: 65px;
    display: inline-block;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: -20px;
    padding: 15px 35px;
    position: absolute;
    left:11%;
    top:60%;
    overflow: hidden;
    z-index: 999;
    background: none;
    cursor: pointer;
    transition: all .3s ease-in;
}

button:hover{
    background:  #FC4539;
}


/************
testimonial section
 ************/
.testi-sec{
    height:100%;
    background: white;
   
}
.test-head{   
    width:100%;
    margin:auto;
}
.test-head h1{
   
}
.line{
    width:100px;
    background: #FC4539;
    height: 4px;
    margin-top: 10px;
    margin-bottom: 10px;    
    margin: auto;
}
.testcol2{
    margin:auto;
    height:100%;
    display: flex;
    /* justify-content:center;
    align-items: center; */
}  
.test-col{
    width:auto;
    margin:auto;
    
}
.test-col img{
    width:90px;
    height:90px;
    float:left;
    margin-right: 10px;
    border-radius: 50%;
}
.test-head h1{
    text-align: center;
}
.test-col h5{
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
 .test-col .line{
    margin-left: 90px;
    width:70px;
} 
.test-col .box-text{
    text-align: center;
    width:470px;
    padding-left: 100px;
}

/************
Footer section
 ************/
.ftr-drk{
   
    background: #000;
    border:1px solid green;
}
.ftr-cont{
   border:1px solid transparent;
   margin-top: 20px;
  
}

.ftr-col3{    
    margin-top: 50px;
  display: flex; 
    justify-content: space-between;
    align-items: center;
    
   
}
.col3-ftr{
    width:200px;
    height:200px;
    margin-top: 40px;
   
  
   
}

.col3-ftr h2{
        color:#FC4539; 
        text-align: left;     
        width:300px;
        font-size: 30px;

}
.col3-ftr p{
    color:#FC4539;
    margin-top: 20px;
    text-align: left;
    padding-left: 5px;
    font-size: 20px;
    
}

.col3-ftr img{
    width: 100px;
    height:200px;
    margin-left: auto;
    text-align: center;
}
















